.App {
  padding: 1rem;
}

.btn {
  padding: 5px 20px;
  border: none;
  background-color: rgb(8, 193, 150);
  color: #fff;
  border-radius: 5px;
  transition: opacity 0.3s;
}
.btn:hover {
  opacity: 0.7;
}

.tasks-items-wrapper {
  margin-bottom: 1rem;
}
.row-controls {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.ul-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 400px;
}
.ul-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
